* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Source Code Pro", monospace;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.nav-wrapper {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  position: fixed;
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 6%;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1.25% 40px;
}

nav ul li a {
  text-decoration: none;
  font-weight: normal;
}

nav ul li a:hover {
  font-weight: bold;
}

.name {
  font-size: 16pt;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.typing {
  display: flex;
  position: relative;
  top: 75%;
  left: 15%;
  font-size: 4rem;
  font-weight: 300;
  transform: translate(-70%, -40%);
  overflow: hidden;
}

.typing::after {
  content: "";
  position: relative;
  top: 2%;
  right: -1%;
  height: 9%;
  border-right: 4px solid white;
  animation: blink 0.95s infinite ease;
  overflow: hidden;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-title {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: 300;
  transform: translate(-50%, -30%);
  overflow: hidden;
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 110vh;
  position: absolute;
  display: flex;
  padding-top: 10%;
  align-items: center;
  justify-content: center;
}

#about-me {
  padding: 1%;
  margin-bottom: 4%;
}

#about-me-content {
  padding: 1%;
  margin-bottom: 10%;
}

#contact {
  margin-top: 10%;
  margin-bottom: 4%;
  padding: 1%;
}

#bio {
  padding: 5%;
  float: left;
}

#projects{
  padding: 5%;
  float: left;
}

#p1 {
  padding: 2%;
  height: 300px;
  width: 300px;
}

#p2 {
  padding: 2%;
  height: 300px;
  width: 300px;
}

.description {
  padding: 4px;
}

.web {
  text-decoration: none;
  overflow: hidden;
}
