* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: "Source Code Pro", monospace;
}

body {
	background-color: rgb(24, 24, 24);
}

.nav-wrapper {
	color: #fff;
	font-family: "Source Code Pro", monospace;
	position: fixed;
	background-color: rgb(32, 32, 32);
	width: 100%;
	height: 6%;
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 1.25% 40px;
}

nav ul li a {
	text-decoration: none;
	font-weight: normal;
}

nav ul li a:hover {
	font-weight: bold;
}

.name {
	font-size: 16pt;
}

/* Set the size of the containers */
.drawing {
	box-sizing: border-box;
	margin: 2rem 8rem;
	padding: 0rem 8rem;
	vertical-align: top;
	horiz-align: center;

	display: inline-block;

	border-radius: 12px;
}

.drawing-label {
	font-family: monospace;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	color: white;
}

/* Set the size of the containers */
.drawing-p5holder {
	box-sizing: border-box;
	margin: 10px;
}
